@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333;
  --background-color: #fff;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
  line-height: 1.6;
  font-size: 0.9rem;
}

h1 {
 font-size: 1.3rem;
 font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 2.5;
}